/* ---------------------------------------------------------------
			RE-INITIALISATION DES TAGS HTML
	Pour éviter les valeurs par défaut différentes suivant les 
	navigateurs. Seuls les tags le plus	souvent utilisés et non 
	dépréciés sont pris en compte.
	Reset complet : http://meyerweb.com/eric/tools/css/reset/
--------------------------------------------------------------- */
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, pre, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;	
	vertical-align: baseline;
	background: transparent;
	}
body {
	line-height: 1;
	}	
ol, ul {
	list-style: none;
	}
table { 
	border-spacing: 4px;
	}

label {
	display: inline-block;
	text-align: right;
}






/* ---------------------------------------------------------------
	FEUILLE DE STYLE ORIGINALE	
--------------------------------------------------------------- */
html {
	height: 100%
	}
	/*
body {
	background: ALiceBlue;
	color: #e8dbb1;
	font-size: 14px;
	font-family: Verdana, Geneva, Sans-Serif;
	height: 100%;
	}
*/
/** Bloc contenant toute la page 
avec image de fond et centré */
#bcPage {

	margin: auto;
	width: 80vw;
	}
	
#bcPage .content{
	//background:rgba(183,255,211,1.00);
	overflow: auto;
	border-bottom:1px rgba(179,170,170,1.00);
	margin-bottom:15px;
}
.leftside{
	float:left;
	padding-left: 40px;
}
.rightside{
	float:right;
	padding-right:40px;
}
.leftside, .rightside{
	align-content:center;
	width: 35vw;
	border: thin;
	border-radius: 15px;
	align-self:center;
}
.aff_input input[type="submit"]{
	float:right;
}
.aff_lbl input[type="submit"]{
	float:right;
}
.aff_lbl{
	table-layout: fixed;
	min-width: 20vw;
	max-width: 40vw;
}

.aff_lbl tr td{
	width: 50%;
	text-align: left;
}

label{
	text-align: left;
}


/* ---------------------------------
	 Définition des tags de titre 
*/

h1 {
	border-bottom: 3px solid #e8dbb1;
	font-size: 36px;
	font-weight: bold;
	margin: 26px 0;
	}	
h2 {
	font-size: 26px;
	font-weight: bold;	
	margin: 22px 0px;
	
	}
h3 {
	font-size: 20px;
	font-weight: bold;	
	margin: 18px 0;
	}

p {
	padding:2px;
	}

/* ---------------------------------
	 Définition des autres tags 
*/
		
strong {
	font-weight: bold;
	}
	
	
header {
	height: 270px;
	background: url(../images/up.jpg) no-repeat;
	}
	

	
a {
	text-decoration:none;
	color: #3c96f1;
	font-weight: bold;
	}

p > a:hover  {
	text-decoration: underline;
	}
	
	
#titre {
	float: left;
	color: orange;
	font-size: 26px;
	font-weight: bold;
	margin-top: 200px;
	}
	
	
#connection {
	margin: 20px 0 0 100px;
	width: 550px;
	}
	
	
	



