body, input, select, textarea {
    color: #888; /* PPR */
}

a:hover {
    color: #B58826 !important; /* PPR */
}

strong, b {
    color: #D3A747; /* PPR */
}

h1, h2, h3, h4, h5, h6 {
    color: #D3A747; /* PPR */
}

#header {
    background: #B58826; /* PPR */
    color: #FFE2A3; /* PPR */
}

header.major h2 {
    color: #B58826; /* PPR */
}

header.major h2 + p {
    color: #D3A747; /* PPR */
}

label {
    color: #D3A747; /* PPR */
}

textarea:focus {
    border-color: #B58826; /* PPR */
}

ul.feature-icons li:before {
    background: #D3A747;
    color: #ffffff;
}

#one:before {
    background-image: url("../../../images/orange/banner.png");
}

#header > nav ul li {
    border-top: solid 2px #FFE2A3;

}
#header > footer .icons li a {
    color: #FFE2A3;
}

#header > nav ul li a.active {
    background: #fff;
    color: #8F660D !important;
}

#header > header p {
    color: #F5CC73;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
    background-color: #D3A747;
    color: #ffffff !important;
}


@media screen and (max-width: 1024px) {
    #titleBar {
        color: #fff;
    }

    #titleBar .title {
        color: #fff;

    }

    #titleBar .toggle:before {
        background: #B58826;
        color: #ffffff;
    }
}